.form-container {
    background-color:  #618bc9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-wrapper { 
    background-color: #f5f7f9;
    padding: 5rem;
    margin: 4rem 9rem;
    margin-bottom: 0;
}

.title {
    font-size: 3rem;
    margin-top: 0;
    font-weight: 300;
}

.form-section {
    margin-bottom: 1rem;

    input { 
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 1rem;
        padding: 1.5rem;
        display: block;
    }

    label {
        font-size: 1.5rem;
        display: block;
    }
}

.form {
    margin: 0 auto;

    div:last-of-type {
        input, label { 
            display: inline-block;
        }

        input {
            width: auto;
            margin-right: 1rem;
        }
    }

    button {
        background-color:  #618bc9;
        border: none;
        padding: 2rem 0;
        color: white;
        width: 100%;
        border-radius: 4px;
    }
}

.sign-in-link {
    margin-top: 3rem;
    color: lightblue;
    font-size: 1.3rem;

    a {
        color: white;
    }
}